@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&display=swap');

:root {
  font-family: 'Montserrat', system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: dark;
  background-color: #000000;
  color: #ffffff;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #09090b;
  min-height: 100vh;
  min-height: 100dvh;
}
